*
body { /*  ESTILO DA PAGINA DE LOGIN   */
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    background: linear-gradient(16deg, rgba(242,242,242,1) 0%, rgba(146,156,147,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.divisoria-login { /*DIVISÃO 2 colunas*/
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: 1fr;
   grid-column-gap: 0px;
   grid-row-gap: 0px;
}
.div-login-centro{ /*COLUNA 1 LOGIN COLOR/CADASTRO*/
    color: azure;
    justify-items: auto center;
    border-radius: 10px;
    background: rgb(14,168,170);
    background: linear-gradient(203deg, rgba(14,168,170,1) 0%, rgba(7,88,122,1) 100%);
}
.div-cadastro-centro{ /* [PEDRO]: CLASSE MUITO PERIGOSA DE ALTERAR*/
    color: azure;
    margin-right: -70px;
    width: 360px;   /*360*/
    height: 500px; /*500*/
    margin-left: 30px;
    justify-items: auto center;
    border-radius: 10px;
    background: rgb(14,168,170);
    background: linear-gradient(203deg, rgba(14,168,170,1) 0%, rgba(7,88,122,1) 100%);    
}
.container { /*até agora aqui ta ok, não mexa em nada*/
    background-color: #fff;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 700px;
    height: 500px;
    display: flex;
    text-align: center;
    margin:40px;
    padding-right: 10px;
    padding: auto;
}
.container form{
    margin-top: 10px;
    padding: 10px;
    position: center;
    margin-left: -15px;
}
.container form .titulo-login{
    font-weight: bold;
    justify-items: center;
    display: flex;
    padding-top: 20px;
}
.div-sou-robo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
        
}
.container .div-btn-login{
    position:absolute;
    margin-bottom: 0px;
}

/*[Pedro]:      BTn/INPUT area          */
.div-btn-cadastro-login{
    margin-top: 85px;
}

.container button{
    width: 48%;
    padding: 10px;
    margin: 10px 1%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
form .login-btn {
    color: #4CAF50;
    font-weight:bold;
    border: #4CAF50 3px solid;
    background-color: white;
}
form .login-btn:hover{
    background-color: #4CAF50;
    font-weight:bold;
    border: #4CAF50 3px solid;
    color: white;
}
.container h1 { /* estava errado porque não tinha h2 em nenhum lugar*/
    margin-bottom: 20px;
}
.btn-cadastro-login{
    padding:  5px auto;
    color: #008CBA;
    border: 10px;
    border: #008CBA 3px solid;
    background-color: white;
}
.btn-cadastro-login:hover{
    background-color: #008CBA;
    color: white;
    border: 10px;
    border-color: #02a8df;
}
.container input { /*   CLASSE GLOBAL PARA TODOS OS INPUTS DENTRO DO CONTAINER*/
    width: 100%;
    padding: 10px 0;
    border: 3px solid #ccc;
    border-radius: 5px;
    margin: 10px;
}
.container-cadastro { /*até agora aqui ta ok, não mexa em nada*/
    background-color: #fff;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 700px;
    height: 500px;
    display: flex;
    text-align: center;
    margin:40px;
    padding-right: 10px;
    padding: auto;
}
.container form{
    margin-top: 10px;
    padding: 10px;
    position: center;
    margin-left: -15px;
}
.container-cadastro form .titulo-login{
    font-weight: bold;
    justify-items: center;
    display: flex;
    padding-top: 20px;
}
.container-cadastro .div-btn-login{
    position:absolute;
    margin-bottom: 0px;
}
.container-cadastro input { /*   CLASSE GLOBAL PARA TODOS OS INPUTS DENTRO DO CONTAINER*/
    width: 100%;
    padding: 10px 0;
    border: 3px solid #ccc;
    border-radius: 5px;
    margin: 10px;
}



/*form .btn-cadastro{
    background-color: #008CBA;
    font-weight:bold;
    color: white;
}





/* [Pedro]: ATUALIZANDO TODO CSS                            />

/*   ESTILO PAGINA CADASTRO   */