header {
    background: #f2f2f2;
    height: 100px;/* Altura */
    width: 100%; /* Largura */
    display: flex; /* Tipo de exibição */
    align-items: center; /* Alinhamento vertical */
    justify-content: space-between; /* Alinhamento horizontal */
  }
  
  /* Estilo do logotipo */
  header img {
    height: 80px; /* Altura */
    margin-left: 20px;
  }
  
  /* Estilo do menu de navegação */
  nav {
    margin-right: 20px; /* Margem direita */
  }
  
  /* Estilo da lista de links */
  nav ul {
    list-style-type: none;
    display: flex; /* Tipo de exibição */
  }
  
  /* Estilo dos itens da lista */
  nav ul li {
    margin: 0 10px;
  }
  nav ul li a {
    color: white; 
    text-decoration: none;
    font-weight: bold;
  }
  